[submodule "lib/putte-ts"]
	path = lib/putte-ts
	url = https://github.com/duffman/putte-tsnode-lib.git
[submodule "cli"]
	path = cli
	url = https://github.com/duffman/zap.cli.commander.git
[submodule "app/cli"]
	path = app/cli
	url = https://github.com/duffman/zap.cli.commander.git
